.welcome-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
}

.welcome-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: white;
    font-weight: bold;
    height: 4rem;
    animation: 
        floating 3s infinite,
        fadeIn 2s forwards ;


}

/*Infinite animation like if it is floating*/
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        font-size: 0.8rem;
    }
    100%{
        opacity: 1;
    }
}