
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: gray;
    padding: 1rem 5rem;
}
.navbar-img{
    width: 20rem;
    height: 4rem;
    border-radius: 30%;
}
.navbar-router {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    width: 100%;
    justify-content: center;
    /*Quitar elementos de enlace"*/
}

li:has(a.active){
    display: none;
}

.active{
    display: none;
}

.navbar-auth{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(94, 34, 34);
}



