#navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;

    height: 6rem;

    background-color: rgba(20, 20, 20, 0.8);
    padding: 1rem;
}

