*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /*Gradient from top to bottom from actual rgba color to a full black color*/
    background-color: rgba(10, 10, 10, 0.9);
    min-height: 300vh;
}

/*Delete the marker from the number input in webkit and mozila based */
/*Webkit based browsers*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Firefox based browsers*/
input[type=number] { 
    -moz-appearance: textfield; 
    
}